<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Sufi Afifi" />
    <title>Login</title>
</head>
<style>
    body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}
h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin: 0;
    padding: 0;
}
form {
    width: 400px;
    margin-top: 4rem;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
p {
    margin: 0;
    padding: 0;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.button {
    margin-top: 1rem;
    text-align: center
}
.button input {
    width: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.button input:hover {
    background-color: #555;
}
.button a {
    text-decoration: none;
}
.button a input {
    background-color: #ccc;
    color: #333;
}
.button a input:hover {
    background-color: #ddd;
}
</style>
<body>
    <form method="post" action="/login">  
        <h2>Lab 3 Login</h2>
        <p>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" placeholder="Enter Username">
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" placeholder="Enter Password">
        </p>
        <p class="button">
        <a href="/session"><input type="button" value="Session"></a>
          <a href="/signup"><input type="button" value="Sign Up"></a>
          <input type="submit" value="Login">
        </p>
      </form>
        <div id="session-message"></div>
</body>
<script>
    const sessionMessage = document.getElementById('session-message');
    const sessionMessageText = sessionStorage.getItem('sessionMessage');
    if(sessionMessageText){
        sessionMessage.innerHTML = "<h3>" + sessionMessageText + "</h3>";
        sessionStorage.removeItem('sessionMessage');
    }
</script>
</html> 